*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carre
{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 400px;
    height:400px;
    background-color: rgb(255, 0, 0);
    position: relative;
    border: 2px solid;
}
.box
{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    transform: rotate(45deg);
}
.carre::before
{
    content: "";
    border: 2px solid;
    background-color: coral;
    transition: border 2s;

}