body{
    background-color: #24436E;
    padding-left: 100px;
    
}
.track{
    margin: 10px;
}
section{
    height: 125px;
    width: 125px;
    background-color: #8C57AC;
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: solid 6px #c68335;
    border-radius: 50%;
}